---

excerpt: Tigrinya dictionary, Tigrinya language, English to tigrinya translation, Eritrean language, Tigrinya speakers, Geez language,tigray region,
title: Tigrinya <> English Dictionary
---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="page-maineader main">
        <header>
          <div class="stripes wrapper">
            <div class="stripe s1"></div>
            <div class="stripe s2"></div>
            <div class="stripe s3"></div>
            <!--<section class="intro-content">
              <h2 class="intro-content-title">Advanced Tigrinya Dictionary</h2>
              <a href="https://www.microsoft.com/store/apps/<your app's Store ID>" type="button" class="btn btn-success">
                Download Dictionary
              </a>
            </section>-->
            <div class="main-introduction">
                <h2 class="intro-content-title">Hello!           ሰላም！   </h2>
                <h3 class="intro-content-title">Finally, a Tigrinya<>English Dictionary for PC!</h3>
        
                <p class="common-BodyText">We’ve built the first full Tigrinya<>English dictionary for PC. Access via desktop, laptop or tablet, wherever you are.</p>
          
                  <a target="_blank"  href="https://www.microsoft.com/store/productId/9NLNBCS3GPTN" type="button" class="btn btn-success download-link-windows">
                    Download Dictionary
                  </a>


            </div>
          <div class="devices-available">
            
              <div class="laptop-devices-content">
                
                     <div class="dictionary-functionality-content">
                        <h4 class="intro-content-title">What does it do?</h4>
                      <aside>
                         <ul>
                          <li class="common-BodyText">
                              Search by English or Tigrinya words, with both alphabets.
                          </li>
                          <li class="common-BodyText">
                              View the definition, grammatical info and examples of use.
                          </li>
                          <li class="common-BodyText">
                              Over 40,000 Tigrinya words defined.
                          </li>
                          <li class="common-BodyText">
                              Access online or offline.
                          </li>
                          
                        </ul>
                      </aside>
                    </div>

                    <a class="download-link-windows" target="_blank"  href='//www.microsoft.com/store/apps/9NLNBCS3GPTN?cid=storebadge&ocid=badge'><img src='https://assets.windowsphone.com/85864462-9c82-451e-9355-a3d5f874397a/English_get-it-from-MS_InvariantCulture_Default.png' alt='English badge' style='width: 284px; height: 104px;'/></a>
             
                </div>
          
          <div class="laptop">
              <span class="shadow"></span>
              <span class="lid"></span>
              <span class="camera"></span>
              <span class="screen">
                <img src="/assets/Images/dict1.png"/>
                <section id="dashboard-dictionary-response" style="display:none">
                <div id="response-Results">
                  <ul id="search-toolbar">
                    <li>text</li>
                    <li><input type="text" placeholder="Person" class="search" ></li>
                    <li class="window-icons">
                      <i class="fa fa-minus"></i>
                      <i class="fa fa-times"></i>
                      <i class="fa fa-square-o" aria-hidden="true"></i>
                    </li>
                  </ul>
      
                  <section id="word-definition-section" class="word-definition">
                    <h5>Definition of <i>Person</i> in English</h2>
                    <div class="table-definition">
                    <ul class="definition-list">
                      <li>
                                <span class="state-badge">ሰብ</span>
                      </li>
                      <li>
                        
                        <span class="state-badge">seb</span>
                      </li>
                     
                    </ul>
                    <ul class="definition-list">
                        <li>
                                  <span class="state-badge">ኣካል</span>
                        </li>
                        <li>
                          
                          <span class="state-badge">'akal'</span>
                        </li>
                       
                      </ul>
                    </div>
                  </section>
      
                  <section id="word-examples-section">
                    <h3 class="definition-examples-heading">Noun</h2>
                      <ul class="definition-examples no-list-style">
                      <li class="top-padding" >
                                <span class="iteration">1</span><span>A human being regarded as an individual</span>
                      </li>
                      <li class="top-padding">
                        
                          <span class="iteration"> </span><span>‘the porter was the last person to see her prior to her disappearance’</span>
                      </li>
                      <li class="top-padding">
                          <span class="iteration">2</span><span>An individual characterized by a preference or liking for a specified thing.</span>
      
                      </li>
                      <li class="top-padding">
                        
                          <span class="iteration"> </span><span>‘she's not a cat person’</span>
                        </li>
                    </ul>
                   
                  </section>
                </div>
              </section>
              </span>
              <span class="chassis">
                <span class="keyboard"></span>
                <span class="trackpad"></span>
              </span>
            </div>
            
           
          </div>
        </div>
      </div>
        
    
        </header>
        <section class="future-development">
        <div class="dictionary-functionality wrapper">
           
          <section class="tablet">
              <div class="future-development-content">
                  <h2 class="intro-content-title">Got Ideas?</h2>
                <p class="common-BodyText">
                  Are we missing a word? We’re adding to the dictionary all the time but 
                  let us know if you’ve spotting something we missed.
                </p>
                <p class="common-BodyText">
                  Our team is busy! We’re working on some other ideas to make the dictionary even better. 
                  Got feedback? We’d love to hear it. Get in touch at <a href="mailto:info@tigrinyadictionary.co.uk">info@tigrinyadictionary.co.uk.</a>
              </p>
                </div>
            <div class="tablet-landscape">
              <image src="/assets/Images/landscape-tablet1.PNG"/>
            </div>
          </section>
          <div class="download-link">
          <a target="_blank" class="windows-badge download-link-windows"  href='//www.microsoft.com/store/apps/9NLNBCS3GPTN?cid=storebadge&ocid=badge'><img src='https://assets.windowsphone.com/13484911-a6ab-4170-8b7e-795c1e8b4165/English_get_L_InvariantCulture_Default.png' alt='English badge'/></a>
          <a target="_blank" class="btn btn-success download-link-windows" href="https://www.microsoft.com/store/productId/9NLNBCS3GPTN" type="button" >
            Download Dictionary
        </a>
        </div>
      </div>
      </section>
     
      

    </div>


  
    

   {% include footer.html %}

  </body>
</html>


