---
excerpt: tigrinya to english translation app,english to tigrinya translation audio,tigrinya translation services,english to tigrinya memory,advanced english tigrinya dictionary,english to tigrinya audio,tigrinya english dictionary amazon,english to tigrinya dictionary free download,tigrinya english dictionary amazon,tigrinya to english translation app,tigrinya and amharic,beautiful in tigrinya,baba tigrinya,tigrinya alphabet,english to tigre,eri dictionary free download,hello beautiful in tigrinya,automatic translate,tigrinya letters,money in tigrinya,tigrigna online type,tigrinya learning books,memhr org dictionaries,tigrinya phrases,tigrigna bible,tigrinya translation services,english tigrigna dictionary free downloadTigrinya dictionary, Tigrinya language, English to tigrinya translation, Eritrean language, Tigrinya speakers,BBC Tigrinya, Geez language,tigray region,Google store,App store,Habesha, Eritrean language
---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}
  <body>

    {% include header.html %}

    <div class="page-content wrapper">
      <div class="page-maineader main">
        <header>
          <div class="stripes">
            <div class="stripe s1"></div>
            <div class="stripe s2"></div>
            <div class="stripe s3"></div>
           
            <div class="main-introduction">
                <h2 class="intro-content-title">Hello!           ሰላም！   </h2>
                <h4 class="intro-content-title">Finally, Multi Language Tigrinya Dictionary App for PC and Mobile phones!</h4>
        
                <p class="common-BodyText">We’ve built the first full Multi Language Tigrinya Dictionary App for PC and Mobile phones. Access via desktop, laptop, tablet and mobile phones, wherever you are.</p>
                <h4 class="intro-content-title">Download the app today</h4>
                 
                <div class="download-link">
              
                  <a  target="_blank"  class="store-badge download-link-google"  href='https://apps.apple.com/gb/app/tigrinya-dictionary/id1479328623'><img style="height:64px;padding-top:14px;" class="google-badge" src='/assets/Images/appleBadge.png' alt='Get it from Apple'/></a>
                  <a  target="_blank" style="height:91px" class="store-badge download-link-google" href='https://play.google.com/store/apps/details?id=com.companyname.TigrinyaDictionary&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="google-badge" style="height: 91px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png'/></a>
                  <a  target="_blank" class="store-badge download-link-windows"  href='//www.microsoft.com/store/apps/9nlnbcs3gptn?cid=storebadge&ocid=badge'><img class="microsoft-badge" src='https://developer.microsoft.com/store/badges/images/English_get_L.png' alt='Microsoft badge' style='width: 155px; height: 61px;' alt='Get it from Microsoft'/></a>

                </div>
            </div>
          <div class="devices-available">
            
              <div class="laptop-devices-content">
                
                     <div class="dictionary-functionality-content">
                        <h4 class="intro-content-title">What does it do?</h4>
                      <aside class="whatToDo-contents">
                         <ul>
                          <li class="common-BodyText">
                             Translate words between Tigrinya, English, Spanish, French, German, Italian, Arabic and Amharic.
                          </li>
                          <li class="common-BodyText">
                             Audio pronunciation.
                          </li>
                          <li class="common-BodyText">
                            Word of the day notification.
                          </li>
                          <li class="common-BodyText">
                            Display recently searched words.
                          </li>
                          <li class="common-BodyText">
                            Displayed favourite words.
                          </li>
                          
                        </ul>
                      </aside>
                      <div class="mobile-icon">
                      <!--<img src="/assets/Images/Icon.png"> -->
                      <div>
                        <img src="/assets/Images/app.png">
                      </div>
                     
                    </div> 

                    </div>
                </div>
          
          </div>
        </div>
      </div>
        
    
        </header>
        
        <section class="future-development">
        <div class="dictionary-functionality wrapper">
          
          <section class="tablet">
              <div class="future-development-content">
                  <h2 class="intro-content-title">Got Ideas?</h2>
                <p class="common-BodyText">
                  Are we missing a word? We’re adding to the dictionary all the time but 
                  let us know if you’ve spotting something we missed.
                </p>
                <p class="common-BodyText">
                  Our team is busy! We’re working on some other ideas to make the dictionary even better. 
                  Got feedback? We’d love to hear it. Get in touch at <a href="mailto:info@tigrinyadictionary.co.uk">info@tigrinyadictionary.co.uk.</a>
              </p>
                </div>
            <div class="tablet-landscape">
              <image class="tablet-logo" src="/assets/Images/landscape-tablet1.PNG"/>
            </div>
          </section>
          <h4 class="intro-content-title">Download the app today</h4>

          <div class="download-link">
              
            <a  target="_blank"  class="store-badge download-link-apple"  href='https://apps.apple.com/gb/app/tigrinya-dictionary/id1479328623'>
              <img style="height:64px;padding-top:14px;" class="google-badge" src='/assets/Images/appleBadge.png' alt='Get it from Apple'/>
            </a>
            <a  target="_blank" style="height:91px" class="store-badge download-link-google" href='https://play.google.com/store/apps/details?id=com.companyname.TigrinyaDictionary&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
              <img class="google-badge" style="height: 91px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png'/>
            </a>
            <a  target="_blank" class="store-badge download-link-windows"  href='//www.microsoft.com/store/apps/9nlnbcs3gptn?cid=storebadge&ocid=badge'>
              <img class="microsoft-badge" src='https://developer.microsoft.com/store/badges/images/English_get_L.png' alt='Microsoft badge' style='width: 155px; height: 61px;' alt='Get it from Microsoft'/>
            </a>
  
          </div>
      </div>
      </section>
     
      

    </div>


  
    

   {% include footer.html %}

  </body>
</html>


