---
excerpt: tigrinya to english translation app,english to tigrinya translation audio,tigrinya translation services,english to tigrinya memory,advanced english tigrinya dictionary,english to tigrinya audio,tigrinya english dictionary amazon,english to tigrinya dictionary free download,tigrinya english dictionary amazon,tigrinya to english translation app,tigrinya and amharic,beautiful in tigrinya,baba tigrinya,tigrinya alphabet,english to tigre,eri dictionary free download,hello beautiful in tigrinya,automatic translate,tigrinya letters,money in tigrinya,tigrigna online type,tigrinya learning books,memhr org dictionaries,tigrinya phrases,tigrigna bible,tigrinya translation services,english tigrigna dictionary free downloadTigrinya dictionary, Tigrinya language, English to tigrinya translation, Eritrean language, Tigrinya speakers,BBC Tigrinya, Geez language,tigray region,Google store,App store,Habesha, Eritrean language
---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}
  <body>

    {% include header.html %}

    <div class="page-content wrapper">
      <div class="page-maineader main">
        <header>
          <div class="stripes">
            <div class="stripe s1"></div>
            <div class="stripe s2"></div>
            <div class="stripe s3"></div>
           
            <div class="main-introduction">
                <h2 class="intro-content-title">Hello!           ሰላም！   </h2>
                <h4 class="intro-content-title">Finally, Multi Language Tigrinya Dictionary App for PC and Mobile phones!</h4>
        
                <p class="common-BodyText">We’ve built the first full Multi Language Tigrinya Dictionary App for PC and Mobile phones. Access via desktop, laptop, tablet and mobile phones, wherever you are.</p>
                <p class="common-BodyText"> 

                  The tigrinya dictionary app is a mobile application that will be available for android and iphone devices. 
The app will have a variety of features such as an offline mode, word definitions in English and Tigrinya, and audio recordings. 
The tigrinya dictionary app is a free mobile application for both Android and iPhone. 
The application contains over 70,000 words with meanings in English, Amharic, Arabic, French and Tigrinya.
The benefit of this app is that it can be used by anyone who is interested in learning or using the tigrinya language.
                </p>
                
                <h4 class="intro-content-title">Download the app today</h4>
                 
                <div class="download-link">
              
                    <a  target="_blank"  class="store-badge download-link-google"  href='https://apps.apple.com/gb/app/tigrinya-dictionary/id1479328623'><img style="height:52px;padding-top:9px;" class="google-badge" src='/assets/Images/appleBadge.png' alt='Get it from Apple'/></a>
                  <a  target="_blank"  class="store-badge download-link-google" style="height:62px" href='https://play.google.com/store/apps/details?id=com.companyname.TigrinyaDictionary&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="google-badge" style="height: 62px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png'/></a>
                  <a  target="_blank" class="store-badge download-link-windows"  href='//www.microsoft.com/store/apps/9nlnbcs3gptn?cid=storebadge&ocid=badge'><img class="microsoft-badge" src='https://developer.microsoft.com/store/badges/images/English_get_L.png' alt='Microsoft badge' style='width: 155px; height: 51px; padding-top:10px;' alt='Get it from Microsoft'/></a>
                  <a  target="_blank"  class="store-badge download-link-huawei"  href='https://appgallery.huawei.com/#/app/C103966271'>
                    <img class="huawei-badge" src='/assets/Images/Badges/appgallery-badge-EN.png' alt='Huawei badge' style='width: 180px; height: 62px;' alt='Get it from Huawei App Gallery'/>
                  </a>
                </div>
            </div>
         
        </div>
      </div>
        
    
        </header>
        <section>
          
                      <h4 class="intro-content-title">What does it do?</h4>
                      <aside class="what-to-do-contents">
                        <main>
                    <ol class="gradient-list">
                        <li class="common-BodyText">
                            You can translate words between Amharic, English, Spanish, French, German, Italian, Arabic and Tigrinya.
                          </li>
                          <li class="common-BodyText">
                             It has audio pronunciation of the word you are looking up.
                          </li>
                          <li class="common-BodyText">
                             Offline access with no internet connection required to use this app! You can still translate without an internet connection or data plan.
                          </li>
                          <li class="common-BodyText">
                            Get a word of the day notification on your phone or tablet every morning. This way you'll always know what's happening around the world! 
                          </li>
                          <li class="common-BodyText">
                             Autocomplete helps you type faster. So that You can find what you're looking for more easily.
                         </li>
                          <li class="common-BodyText">
                            Display recently searched words for quick access to them again without having to search through all of them manually.
                          </li>
                          <li class="common-BodyText">
                            Your favourite words list will also be displayed.
                          </li>
                         
                           <li class="common-BodyText">
                             You can also invite friends to the app through WhatsApp, Facebook messanger and other social media apps functionality.
                          </li>
                          <li class="common-BodyText">
                             Rate our app also leave a review with single tap.
                          </li>
                    </ol>
                    </main>
                </aside>
                    <div class="mobile-icon">
                    <div>
                      <img src="/assets/Images/app.png">
                    </div>
                   
                  </div> 
  
     
        </section>
        
        <section class="future-development">
        <div class="dictionary-functionality wrapper">
          
          <section class="tablet">
              <div class="future-development-content">
                  <h2 class="intro-content-title">Got Ideas?</h2>
                <p class="common-BodyText">
                  Are we missing a word? We’re adding to the dictionary all the time but 
                  let us know if you’ve spotting something we missed.
                </p>
                <p class="common-BodyText">
                  Our team is busy! We’re working on some other ideas to make the dictionary even better. 
                  Got feedback? We’d love to hear it. Get in touch at <a href="mailto:info@tigrinyadictionary.co.uk">info@tigrinyadictionary.co.uk.</a>
              </p>
                </div>
            <div class="tablet-landscape">
              <image class="tablet-logo" src="/assets/Images/landscape-tablet1.PNG"/>
            </div>
          </section>
          <h4 class="intro-content-title">Download the app today</h4>

          <div class="download-link">
              
            <a  target="_blank"  class="store-badge download-link-google"  href='https://apps.apple.com/gb/app/tigrinya-dictionary/id1479328623'><img style="height:52px;padding-top:9px;" class="google-badge" src='/assets/Images/appleBadge.png' alt='Get it from Apple'/></a>
                  <a  target="_blank"  class="store-badge download-link-google" style="height:62px" href='https://play.google.com/store/apps/details?id=com.companyname.TigrinyaDictionary&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="google-badge" style="height: 62px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png'/></a>
                  <a  target="_blank" class="store-badge download-link-windows"  href='//www.microsoft.com/store/apps/9nlnbcs3gptn?cid=storebadge&ocid=badge'><img class="microsoft-badge" src='https://developer.microsoft.com/store/badges/images/English_get_L.png' alt='Microsoft badge' style='width: 155px; height: 51px; padding-top:10px;' alt='Get it from Microsoft'/></a>
                  <a  target="_blank"  class="store-badge download-link-huawei"  href='https://appgallery.huawei.com/#/app/C103966271'>
                    <img class="huawei-badge" src='/assets/Images/Badges/appgallery-badge-EN.png' alt='Huawei badge' style='width: 180px; height: 62px;' alt='Get it from Huawei App Gallery'/>
                  </a>
  
          </div>
      </div>
      </section>
     
     
    

    </div>


  
    
   
    <div class="footer-section">
      {% include mailchimp.html %}
      {% include footer.html %}
    </div>

  </body>
</html>


